PORT=3000
MONGODB_URI=mongodb://localhost:27017/coperex_db
JWT_SECRET=tu_clave_secreta_muy_larga_y_segura
JWT_EXPIRATION=8h

DEFAULT_ADMIN_NAME=Administrador Principal
DEFAULT_ADMIN_EMAIL=admin@coperex.com
DEFAULT_ADMIN_PASSWORD=Admin123!
